@charset "utf-8";


/*
   Redesign with:
      *centered layout
      *styled horizontal navigation
      *2 column layout for content (sections)
      *Add third page (school). 1 or 2 column layout
      *add an image to at least one page.
   Validate HTML and CSS. 
   Upload all files to your GitHub.
   
   Style Sheet
   Author: Mario Lopez
   Date:   03/01/2024
   
   Filename: main.css

*/


/* HTML and Body Styles */

html{
   background-color: beige
}

body{
   color: black;
   font-family: arial, 'Times New Roman', Times, serif, sans-serif;
   /* Center */
   margin-left: auto;
   margin-right: auto;
   max-width: 960px;
   min-width: 640px;
   width: 90%;
}



/* Horizontal Navigation Styles */
body > header > nav.horizontalNavigation li{
   width: 25%;
}
nav.horizontalNavigation li{
   display: block;
   float: left;
}
nav.horizontalNavigation a{
   display: block;
   text-align: center;
}






/* Heading Styles */
h1{
   font-size: 2.5em;
}
h2{
   font-size: 1.6em;
}

h1, h2{
   color:darkblue;
   font-family: Georgia, 'Times New Roman', sans-serif;
   letter-spacing: 0.03em;
}
h1{
   background-color: rgb(237, 133, 59);
   font-family: Tahoma,'Times New Roman', sans-serif;
   padding-left: 5px;
}
h2{
   background-color: rgb(235,177,131);
   padding-left: 5px;
}

p{
   margin: 5% 2.5%;
}

ol{
   margin-left: 2.5%;
}


/* Navigation Styles */	
nav{
   font-size: 0.85em;
}

nav > ul {
   line-height: 1.5em;
   list-style-type: none;
   padding-left: 7.5px;
}



/* Footer Styles */
body > footer{
   background-color: rgb(250, 219, 194);
   color: black; color: rgb(115, 138, 241);
   font: normal small-caps bold 1em/1.75em
         arial, 'Times New Roman', sans-serif;
   text-align: center;
   padding:0px;
   margin: 70% 20% 0px 20%;
}



/* Vertical Navigation Styles */


/* Left Column Paragraph Styles */
section#leftColumn{
   clear: left;
   float: left;
   width: 35%;
}



/* Right Column Styles */
div#rightColumn{
   background-color: burlywood;
   float: left;
   width: 65%;
   margin: 21px 0px;
}
div#rightColumn>img{
   margin-left: 2.5%;
}
